* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    position: relative;
    background-color: #f8f8f8; 
    padding-top: 4px;
    padding-bottom: 3px;
}
#website-name{
    font-size: 15px;
    font-weight: bold;
    margin-right: auto;
}

.logo {
    width: 50px; 
}


.nav {
    display: flex;
    list-style: none;
}

.nav li {
    margin-left: 5px;
    margin-right: 5px;
}

.nav a {
    text-decoration: none;     font-size: 14px; 
    font-weight: bold; 
}


.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd; 
}


.nav-center {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-center li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.nav-center li a:hover {
    color: rgb(110, 30, 30);
}

.search-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.search-bar {
    border: 1px solid #ddd;
    border-radius: 15px; 
    padding: 5px 10px;
    background-color: #f8f8f8;
    height: 20px;
    width: 200px;
    
}

.icon {
    width: 20px; 
    margin-left: 10px;
}
#wishlist:hover{
    content: url("https://cdn-icons-png.flaticon.com/128/1077/1077086.png");
}

#cart:hover{
    content: url("https://cdn-icons-png.flaticon.com/128/95/95175.png");
}
#news-section{
    background-color: #f8f8f8;
    text-align: center;
    height: 80px;
    padding-top: 20px;
}



#tagline {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
  }

#tagline-container p{
    margin-bottom: 0;
    margin-top: 10px;
}
#tagline-container button{
    border-radius: 15px;
    background-color: black;
    color: white;
    padding: 5px 30px 5px 30px;
    box-shadow: none;
    font-weight: bold;
}
#tagline-container button:hover{
    background-color: white;
    color: black;
}
.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 20px auto; 
    gap: 20px; 
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    width: 30%; 
    height: 500px;
}

.card-image {
    width: 100%;
    height: 80%;
    border-radius: 10px;
}

.card-title {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.shop-now-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.shop-now-button:hover {
    background-color: #444;
}
.shoes-gender{
    color: #444;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 5px;
    text-align: left;
}
#card-image1:hover{
    content: url("https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/617852db-ae30-49e7-a6a7-ac5113cd694f/NIKE+COURT+VISION+LO+NN.png");
}
#card-image2:hover{
    content: url("https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/3645ee97-1887-42c3-b497-bc022f942068/NIKE+AIR+FORCE+1+GS.png");
}
#card-image3:hover{
    content: url("https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/3648a348-51f1-4766-b2c5-e5a0a37e6fd1/NIKE+AIR+MAX+ISHOD.png");
}
.title{
    font-size: 25px;
    margin-left: 91px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#new-card-image1:hover{
    content: url("https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/a5531e87-497e-4163-a00f-a38ae6d1057a/NIKE+AIR+MAX+90+LV8.png");
}
#new-card-image2:hover{
    content: url("https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/102465f8-fee3-4f03-a209-40fa8f22efdb/AIR+MAX+PLUS+DRIFT.png");
}
#new-card-image3:hover{
    content: url("https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/3b3a5f40-8e52-41b9-b406-5bffe8be54b9/W+NIKE+ZOOM+VOMERO+ROAM.png");
}

.footer-container {
    display: flex;
   
    gap: 80px;    
    background-color: #f8f8f8;
    
}

.footer-column {
   
    padding: 10px;
    margin-left: 80px;
}

.footer-heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    font-family: Arial, sans-serif;
    padding-bottom: 100px;
}

.footer-column li {
    margin-bottom: 10px;
    
}

.footer-column a {
    text-decoration: none;
    color: #000; 
}

.footer-column a:hover {
    text-decoration: underline;
}


.icons {
    height: 20px; 
    width: 20px; 
    margin-right: 10px; 
}

#icon-container {
    display: flex;
    margin-top: 10px;
    gap:10px;
}
#mainpage{
    background-image:url("images/background.png");
    width: 100%;
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
section{
    width: 100%;
    height: 90vh;
    
}
#main-image{
    width: 50%;
    height: fit-content;
    
}
#text{
    width: 35%;
    
}
#subtagline{
    color: white;   
    font-weight: 400;
}
#text-unleash, #text-potential{
    color: #fe285b
}
#text-Your{
    color: #b9bcc0;
}

@media screen and (max-width: 480px){
    nav img{
        display: none;
    }
    .nav-center{
        flex-wrap: wrap;
    }
    .search-container{
        display: none;
    }
    .card-container{
        flex-direction: column;
    }
    .card{
        width: 80%;
    }
    .footer-container{
        flex-direction: column;
        gap: 0px;
    }
    .footer-container ul{
        padding-bottom: 40px;
    }
    #main-image{
        width: 40%;
    }
    footer{
        flex-wrap: wrap;
        flex-direction: column;
    }

}
 